<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Grid</title>
    <link rel="stylesheet" href="/css/Task-13/DynamicGrid/dynamicgrid.css">
</head>

<body>
    <section class="dynamicgridsection">
        <h1>Vasu Parsaniya_24DEV053</h1>
        <h2>Exercise-0:Dynamic Grid</h2>
        <div class="container">
            <div class="row inputrow">
                <form method="POST" class="col" id="formquery">
                    <input type="text" name="inputquery" id="inputquery" value="<%= ObjectData.querybeforelimit%>">
                    <input type="submit" value="submit" class="gobutton" onclick="setAction(this)">
                </form>
            </div>

            <% var erroFreeInput = false%>
            <% var erroFreeDataFound = false%>
            <% if(ObjectData.hasOwnProperty('errorInEnterInput')){%>

                <% if(ObjectData.errorInEnterInput.length === 0){%>
                    <% erroFreeInput = true%>
                    <p class="hideerror">
                        <%= ObjectData.errorInEnterInput%>
                    </p>
                    <%}else{%>
                        <% erroFreeInput = false%>
                        <p class="error">
                            <%= ObjectData.errorInEnterInput%>
                        </p>
                        <%}%>
                <%}%>

                    <% if(ObjectData.hasOwnProperty('erroInDataFound')){%>

                        <% if(ObjectData.erroInDataFound.length === 0){%>
                            <% erroFreeDataFound = true%>
                            <p class="hideerror">
                                <%= ObjectData.erroInDataFound%>
                            </p>
                            <%}else{%>
                                <% erroFreeDataFound = false%>
                                <p class="error">
                                    <%= ObjectData.erroInDataFound%>
                                </p>
                                <%}%>
                        
                        <%}%>
                        <!-- <%= erroFreeInput%>
                        <%= erroFreeDataFound%> -->

                        <% if(erroFreeInput && erroFreeDataFound && ObjectData.data.length !== 0){%>
                            
                            <table>
                                <thead class="tablehead">
                                    <tr>
                                        <% for(let key in ObjectData.data[0]){%>
                                            <th class="tableheaddata">
                                                <%= key%>
                                            </th>
                                        <%}%>
                                    </tr>
                                </thead>
                                    
                        <% for(let element of ObjectData.data){%>
                            <tr>
                                <% for(let key in element){%>
                                    <td><%= element[key]%></td>
                                    <%}%>
                                </tr>
                                <%}%>
                            </table>
                            
                            <%}%>           
        </div>
    </section>


    <% if(erroFreeInput && erroFreeDataFound && ObjectData.data.length !== 0){%>
        <%- include('pagginationComponent')%>  
        <% erroFreeInput = false%>
        <% erroFreeDataFound = false%>                     
        <%}%>           
     
    <script>
        // var errorTag = document.getElementsByClassName('error');
        // setTimeout(function(){
        //     for(let i=0;i<errorTag.length;i++){
        //         errorTag[i].className = errorTag[i].replace("error","hideerror");
        //     }
        // },4000);

        function setAction(action){
            const query = document.getElementById("inputquery").value;

            if(query.length === 0){
                document.getElementById("formquery").action = "/task13_dynamicgrid";
            }else{
                document.getElementById("formquery").action = "/task13_dynamicgrid?page=1&querystring="+query;
            }
        }
    </script>
</body>

</html>